<div id='articles'>

	<div class='position-info'>
		<div class='position-nav'></div>
	</div>

    <div id='article-list'></div>

    <div id='article-category-nav'>
    	<ul>
    		<li><a class='articles-tabs' href='javascript:void(0)' onclick='displayAllArticles()'>AllArticles</a></li>
    		<li><a class='articles-tabs' href='javascript:void(0)' onclick="displayArticlesByCategory('Note')">Notes</a></li>
    		<li><a class='articles-tabs' href='javascript:void(0)' onclick="displayArticlesByCategory('Daily')">Daily</a></li>
    	</ul>  
    </div>
</div>