
<div class='row'>
	<div class='col d-flex bg-info justify-content-start position-info'>
		<ul class='breadcrumb bg-info text-dark'></ul>
	</div>
	<div class='col d-flex bg-info justify-content-end position-nav'>
		<!-- <a class='translate' href="javascript: myArticle=null; render('articles')" data-args='BackToArticlesList'></a> -->
	</div>
</div>

<div class='row justify-content-center'>
	<div class='col-sm-9 d-flex'>
		<label for='subject' class='translate' data-args='Subject'></label>
		<input id='subject' type='text' name='subject'>
	</div>
</div>

<div class='row justify-content-center'>
	<div class='col-sm-9 d-flex' id='toolbar'>
		<select class='ql-size'>
			<option selected></option>
			<option value='large'></option>
			<option value='huge'></option>
		</select>
		<button class="ql-header" value='1'></button>
		<button class="ql-header" value='2'></button>
		<button class="ql-code-block"></button>
		<button class="ql-bold"></button>
		<button class="ql-italic"></button>
		<button class="ql-underline"></button>
		<button class="ql-list" value='ordered'></button>
		<button class="ql-list" value='bullet'></button>
		<button class="ql-blockquote"></button>
		<button class="ql-image"></button>
		<button class="ql-video"></button>
	</div>
</div>

<div class='row justify-content-center'>
	<div class='col-sm-9 d-flex' id='editor'>
	</div>
	<input id='upload-image' type='file' style='display:none' accept='image.png, image/jpg' onchange='uploadImage(event)'>
</div>' 

<div class='row justify-content-center'>
	<form class='needs-validation' id='setting-form' novalidate>
		<div class='row justify-content-center'>
			<div class='col-sm-4 d-flex'>
				<div class='form-group'>
					<div class='input-group mb-3'>
						<div class='input-group-prepend'>
							<span class='input-group-text translate' data-args='Privacy'></span>
						</div>
						<select class='form-control input-sm' style='width: auto' id='privacy' name='privacy'>
							<option class='translate' data-args='Public'></option>
							<option class='translate' data-args='Private'></option>
						</select>
					</div>
				</div>
			</div>

			<div class='col-sm-4 d-flex'>
				<div class='form-group'>
					<div class='input-group mb-3'>
						<div class='input-group-prepend'>
							<span class='input-group-text translate' data-args='Category'></span>
						</div>
						<select class='form-control input-sm col-xs-2' id='category' name='category'>
							<option class='translate' data-args='Daily'></option>
							<option class='translate' data-args='Note'></option>
						</select>
					</div>
				</div>
			</div>

			<div class='col-sm-4 d-flex'>
				<div class='form-group' id='form-submit'>
					<button class='btn btn-success btn-sm translate' data-args='Save' type='button' onclick='saveArticle()'></button>
					<button class='btn btn-primary btn-sm translate' data-args='Cancel' type='button' onclick='cancelEdit()'></button>
				</div>
			</div>
		</div>
		
	</form>
</div>