<div id='comment-form'>
	<form id='new-comment'>
		<label for='form-comment-author' class='translate' data-args='Email'></label>
		<input type='text' id='form-comment-author' name='comment-author' placeholder='Enter your email'><br>
		<label for='form-comment-content' class='translate' data-args='Comment'></label>
		<textarea id='form-comment-content' name='comment-content' placeholder='Say something'></textarea><br>
		<button class='translate' data-args='Save' type='button' onclick='addComment()'></button>
		<button class='translate' data-args='Cancel' type='button' onclick='clearComment()'></button>
	</form>
</div>

