<div id='latest-update'>
	<!-- <div id='update-time'> -->
	<!-- </div> -->
<!--  -->
	<!-- <div id='update-subject'></div> -->
<!--  -->
	<!-- <div id='update-content'></div> -->
	<div class='row justify-content-center'>
        <div class='col-sm-9 d-flex justify-content-center' id='update-time'></div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-sm-9 d-flex justify-content-center' id='update-subject'></div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-sm-9 d-flex justify-content-center' id='update-content'></div>
      </div>
</div>
