#display-article {
	border: 1px solid black;
	display: flex;
	flex-flow: column wrap;
}

#article-subject {
	border: 1px dashed red;
	margin: 0 auto;
}

#article-subject span {
	font-size: 20px;
}

#article-content {
	border: 1px dashed blue;
	margin: 0 auto;
}

#article-footer {
	border: 1px solid black;
	margin: 10px;
}

#article-footer > * {
	margin: 3px;
}

#one-article-summary {
	margin: 10px;
}

#one-article-summary span {
	font: 12px;
	color: grey;
}
