.img-border {
	border: 1px solid #b3b3b3;
}

.editor-box figure {
	position: relative;
	display: block;
	margin: 1em 0;
}

.widget-embed-toolbar {
	margin: 0;
	display: none;
	position: absolute;
	padding-left: 0;
	padding-bottom: 8px;
	width: 100%;
	height: 38px;
	top: 5px;
	left: 0;
	text-align: center;
}

.widget-embed-toolbar button {
	padding: 0;
	width: 36px;
	height: 36px;
}

.widget-embed-toolbar button i {
	display: block;
	width: 24px;
	height: 24px;
}

.article-block {
	border: 1px dashed black;
	margin: 5px;
	position: relative;
}

.ql-editor {
	border: 1px solid blue;
}
