#latest-update {
	display: flex;
	flex-flow: column wrap;
}

#latest-update div {
	margin: 10px;
	text-align: center;
}

#update-subject {
	order: -1;
}

#update-time span {
	font-size: 12px;
	color: grey;
}
