#articles-list {
	border: 1px solid red;
	flex: 1 1 75%;
}

.each-article-summary span {
	margin-right: 16px;
}

#update-subject > * {
	margin-left: 8px;
}

.position-nav button {
	margin-right: 30px;
}

.breadcrumb > .active {
	color: black;
}

#article-summary span {
	margin-right: 8px;
}

#article-subject span {
	text-align: center;
}

.navbar-nav li {
	margin-left: 30px;
	margin-right: 20px;
}
