#articles > p {
    text-align: center;
    color: brown;
    border: 1px dashed red;
}

.my-article {
    float: left;
    margin: 0 auto;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    padding: 3px 8px;
    display: block;
    text-align: center;
}

#info p {
    line-height: 5px;
    margin: 0em;
}

.title {
    text-decoration: none;
    background-color: rgb(173, 169, 169);
}

.title :hover {
    background-color: grey;
}

.article-body {
    font-size: 20px;
    text-align: center;
}

.delete {
    color: red;
    float: right;
    left: 10%;
    padding: 3px 8px;
    font-size: 10px;
    background: yellowgreen;
    margin: 0 auto;
    overflow: auto;
}

.delete a {
    color: red;
}


