
#photo img {
    height: 150px;
    width: 150px;
    float: left;
}


.highlight {
    font-weight: bold;
    color: red;
    background-color: grey;
}

#profile {
    height:150px;
    border: 1px solid black;
    overflow: auto;
}
#nav {
    float: left;
    width: 150px;
    border: 1px solid black;
    margin: auto;
}

#nav div {
    margin: auto;
    text-align: center;
}


#container {
    height: 400px;
    border: 1px solid black;
    overflow: auto;
}


.feedback {
    border: 1px solid black;
}

.selected {
    color: red;
    display: inline-block;
    background-color: grey;
}


#contents {
    position: relative;
}


#pagination {
    display: inline-block;
    margin: 0 auto;
    left: 30%;
}

#pagination ul {
    min-width: 500px;
    list-style: none;
    padding-top: 20px;
}

#pagination ul li {
    display: inline;
}

#pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    background-color: grey;
}

#pagination a:hover {
    background-color: yellowgreen;
}

#pagination .activated {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}