<div id='index-footer'>
	<!-- <ul> -->
		<!-- <li><a class='translate' href='javascript:void(0)' data-args='Books'>Books</a></li> -->
		<!-- <li><a class='translate' href="javascript:render('articles')" data-args='Articles'>Articles</a></li> -->
		<!-- <li><a class='translate' href='#' data-args='BackToTop'>Back to Top</a></li> -->
	<!-- </ul> -->
	<div id='books'>
		<a class='translate' href='javascript:void(0)' data-args='Books'>Books</a>
	</div>

	<div id='footer-articles'>
		<a class='translate' href="javascript:render('articles')" data-args='Articles'>Articles</a>
	</div>

	<div id='back-top'>
		<a class='translate' href='#' data-args='BackToTop'>Back to Top</a>
	</div>
</div>
	