<!-- <div id='index-footer'> -->
	<!-- <div id='books'> -->
		<!-- <a class='translate' href='javascript:void(0)' data-args='Books'></a> -->
	<!-- </div> -->
<!--  -->
	<!-- <div id='footer-articles'> -->
		<!-- <a class='translate' href="javascript:myArticle=null; render('articles')" data-args='Articles'></a> -->
	<!-- </div> -->
<!--  -->
	<!-- <div id='back-top'> -->
		<!-- <a class='translate' href='#' data-args='BackToTop'></a> -->
	<!-- </div> -->
<!-- </div> -->

<div class='row justify-content-center bg-dark'>
	<div class='col-sm-3'>
	  <a class='translate btn btn-outline-info' href='javascript:void(0)' data-args='Books'>Books</a>
	</div>
	<div class='col-sm-3'>
	  <a class='translate btn btn-outline-info' href="javascript: render('articles')" data-args='Articles'>Articles</a>
	</div>
	<div class='col-sm-3'>
	  <a class='translate btn btn-outline-info' href='#' data-args='BackToTop'>Back to top</a>
	</div>
  </div>
	