<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- <link rel='stylesheet' href='/tcp/css/index.css'> -->
        <!-- <link rel='stylesheet' href='/tcp/css/home.css'> -->
        <!-- <link rel='stylesheet' href='/tcp/css/article-list.css'> -->
        <!-- <link rel='stylesheet' href='/tcp/css/article-display.css'> -->
        <!-- <link rel='stylesheet' href='/tcp/css/article-edit.css'> -->
        <!-- <link rel='stylesheet' href='/tcp/css/comments.css'> -->
        <link rel="stylesheet" href="/tcp/css/test.css">
        <link rel="stylesheet" href="/tcp/css/editor.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
        <link rel='stylesheet' href='/assets/icons/all.css'>
        <title>{{=it.Title}}</title>
    </head>
    <body>
        
        <header>
        <nav class='navbar navbar-expand-sm bg-dark'>{{=it.Navbar}}</nav> 
        <div id='banner'>{{=it.Banner}}</div>
        </header>

               
        <div id='workspace' class='container-fluid'></div>

        <footer class='page-footer'>
            {{=it.Footer}}    
        </footer>
        
        <script src='/js/jquery-3.5.1.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src='/tcp/js/quill/image-blot.js'></script>
        <script src='/tcp/js/quill/block-blot.js'></script>
        
        
        <script src="/assets/jquery.i18n/CLDRPluralRuleParser.js"></script>
        <script src="/assets/jquery.i18n/jquery.i18n.js"></script>
        <script src="/assets/jquery.i18n/jquery.i18n.messagestore.js"></script>
        <script src="/assets/jquery.i18n/jquery.i18n.fallbacks.js"></script>
        <script src="/assets/jquery.i18n/jquery.i18n.language.js"></script>
        <script src="/assets/jquery.i18n/jquery.i18n.parser.js"></script>
        <script src="/assets/jquery.i18n/jquery.i18n.emitter.js"></script>
        <script src="/assets/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>

        <script src='/tcp/js/Storage.js'></script>
        <script src='/tcp/js/AjaxService.js'></script>
        <script src='/tcp/js/SimonService.js'></script>
        <script src='/tcp/js/scope.js'></script>
        <script src='/tcp/js/quill.js'></script>
        <script src='/tcp/js/language.js'></script>
        <script src='/tcp/js/utils.js'></script>
        <script src='/tcp/js/shell.js'></script>
        <script src='/tcp/js/admin.js'></script>
        <script src='/tcp/js/home.js'></script>
        <script src='/tcp/js/articles.js'></script>
        <script src='/tcp/js/article-edit.js'></script>
        <script src='/tcp/js/article-display.js'></script>
        <script src='/tcp/js/comment.js'></script>


        <script>
            $(document).ready(function() {
                setupShell('home');
            });
        </script>
    </body>
</html>