<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Bootstrap</title>
    
    <style>
      .navbar-nav > li {
        margin-left: 20px;
        margin-right: 20px;
      }

      .position-info {
        flex: 1 1 80%;
        border: 1px solid red;
      }

      .position-nav {
        border: 1px solid red;
      }

      #articles-list {
        border: 1px solid black;
        flex: 1 1 80%;
      }

      #article-category-nav {
        border: 1px solid red;
      }

      .article-info div {
        border: 1px dashed red;
      }

      .each-article-subject {
        font-size: 20px;
      }

      .each-article-summary {
        font-size: 15px;
        color: grey;
      }

      #show-comments {
        margin-right: 5px;
      }

      #comments {
        display: flex;
        flex-flow: column wrap;
      }

      .single-comment {
        border: 1px dashed black;
      }

      .row {
        margin-bottom: 20px;
      }
    
    </style>
  </head>
  <body>
    <nav class='navbar navbar-expand-lg bg-dark'>
        <ul class='navbar-nav'>

          <li class='navbar-item'>
            <a class='navbar-link translate' href="javascript: render('home')" data-args='Home'>Home</a>
          </li>

          <li class='navbar-item'>
            <a class='navbar-link translate' href="javascript: render('articles')" data-args='Article'>Articles</a>
          </li>
        </ul>

        <div class='row navbar-item dropdown'>
          <a class='navbar-link dropdown-toggle translate btn btn-info' id='navbardrop' href='javascript:void(0)' data-toggle='dropdown' data-args='Admin'>Admin</a>
          <div class='dropdown-menu'>
            <a class='dropdown-item translate' href='javascript:void(0)' onclick='becomeAdmin()' data-args='BecomeAdmin'>Become Admin</a>
            <a class='dropdown-item translate' href='javascript:void(0)' onclick='Logout()' data-args='LogOut'>Logout</a>
            <a class='dropdown-item translate' href='javascript:void(0)' onclick='changeLanguage()' data-args='Language'>Language</a>
          </div>
        </div>
    </nav>

    <div class='row justify-content-center'>
      <form class='needs-validation' id='setting-form' novalidate>
        <div class='row justify-content-center'>
          <div class='col-sm-4 d-flex'>
            <div class='form-group'>
              <div class='input-group mb-3'>
                <div class='input-group-prepend'>
                  <span class='input-group-text translate' data-args='Privacy'>privacy</span>
                </div>
                <select class='form-control input-sm' style='width: auto' id='privacy' name='privacy'>
                  <option class='translate' data-args='Public'>public</option>
                  <option class='translate' data-args='Private'>private</option>
                </select>
              </div>
            </div>
          </div>
    
          <div class='col-sm-4 d-flex'>
            <div class='form-group'>
              <div class='input-group mb-3'>
                <div class='input-group-prepend'>
                  <span class='input-group-text translate' data-args='Category'>category</span>
                </div>
                <select class='form-control input-sm col-xs-2' id='category' name='category'>
                  <option class='translate' data-args='Daily'>daily</option>
                  <option class='translate' data-args='Note'>note</option>
                </select>
              </div>
            </div>
          </div>
    
          <div class='col-sm-4 d-flex'>
            <div class='form-group' id='form-submit'>
              <button class='btn btn-success btn-sm translate' data-args='Save' type='button' onclick='gather()'>save</button>
              <button class='btn btn-primary btn-sm translate' data-args='Cancel' type='button' onclick='cancelEdit()'>cancel</button>
            </div>
          </div>
        </div>
        
      </form>
    </div>

    <div class='row justify-content-center'>
      <div class='col-sm-8'>
        <ul class='pagination justify-content-center' style='margin: 20px 0'>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
        </ul>
      </div>
    </div>


    
      <footer class='page-footer bg-dark'>
        <div class='row justify-content-center'>
          <div class='col-sm-3'>
            <a class='translate btn btn-outline-info' href='javascript:void(0)' data-args='Books'>Books</a>
          </div>
          <div class='col-sm-3'>
            <a class='translate btn btn-outline-info' href="render('articles')" data-args='Articles'>Articles</a>
          </div>
          <div class='col-sm-3'>
            <a class='translate btn btn-outline-info' href='#' data-args='BackToTop'>Back to top</a>
          </div>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>

      // $(document).ready(function() {
        // $('#category').val('daily');
        // $('#privacy').val('private');
      // })

      
$(document).ready(function() {
	$('.pagination li a').click(function(e) {
		$('.pagination li.active').removeClass('active disabled');
		let $parent = $(this).parent();
		$parent.addClass('active disabled');
		e.preventDefault();
	});
});

      function gather() {
        let category = $('#category').val();
        let privacy = $('#privacy').val();
        console.log(category + ' ' + privacy);
      }
      
    </script>
  </body>
</html>